<div class="d-flex h-100">
  <div class="bg-dark border-right p-3 siderbar">
    <h3 class="text-light">Gifs-App</h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    </div>
  </div>
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search:</h5>
        <input type="text" class="form-control" placeholder="Search gifs..." />
      </div>
    </div>
    <hr />
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum
      mollitia quasi, animi voluptate reprehenderit delectus. Eveniet odit
      doloremque aliquam. Fugit sequi quo corporis totam aut eos quidem quia
      nihil.
    </div>
  </div>
</div>
