<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search:</h5>
        <input type="text" class="form-control" placeholder="Search gifs..." />
      </div>
    </div>
    <hr />
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum
      mollitia quasi, animi voluptate reprehenderit delectus. Eveniet odit
      doloremque aliquam. Fugit sequi quo corporis totam aut eos quidem quia
      nihil.
    </div>
  </div>
</div>
